.flex {
  background-color: #00c7ce;
  width: 300px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex > div {
	background-color: #fff;
	margin: 5px;
	font-size: 30px;
}